<div class="max-w-screen-xl mx-auto bg-white rounded-xl p-6 shadow-md overflow-hidden">
  <h1 class="text-2xl font-semibold mb-4">Prompt Search</h1>
  <%= form_tag root_path, method: :get do %>
    <div class="flex mb-5">
      <%= text_field_tag "q", params[:q], class: "w-full p-2 border rounded-l focus:outline-none", placeholder: "Search..." %>
      <%= submit_tag "Search", class: "bg-blue-500 text-white p-2 rounded-r hover:bg-blue-600 focus:outline-none" %>
    </div>
  <% end %>

  <% if params[:q] && @prompts.any? %>
    <h2 class="text-xl font-semibold mb-5">Found <%= @prompts.total_count %> items for phrase "<%= params[:q] %>"</h2>
    <%- @prompts.each do |prompt| %>
      <%= render partial: "result", locals:  { prompt: prompt } %>
    <% end %>
  <% elsif params[:q] && @prompts.blank? && params[:page].blank? %>
    <p class="text-lg text-gray-700 mb-5">Couldn't find any results for phrase: <strong><%= params[:q] %></strong></p>

    <%= render partial: "fake_result" %>
    <%= render partial: "fake_result" %>
  <% else %>
    <p class="text-lg text-gray-700 mb-5">Discover more with our powerful search. Find what you're looking for quickly and easily.</p>

    <%= render partial: "fake_result" %>
    <%= render partial: "fake_result" %>
  <% end %>

  <% if params[:q] && @prompts.any? %>
    <%= paginate @prompts %>
  <% end %>
</div>
